.history {
  width: 870px;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.th {
  padding: 30px;
  color: #272727;
  border: 1px solid #e3e7eb;
  background-color: #ebeef2;
  text-transform: uppercase;
}

.td {
  border: 1px solid #ebeef2;
  padding: 30px;
  text-transform: capitalize;
}
